-------  General Styles -------
@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Lato&display=swap");

body {
  font-family: monospace;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */


.group {
  
  /* flex-direction: column; */

}



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Pangolin", cursive;
  font-size: 18vw;
  color: #fff;
}

header nav ul li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff385c;
  padding:10px 0 0 5px;
}

form div {
  display: flex;
  justify-content: space-between;
}


form label { 
  /* width: 150px;
  font-weight: bold;
  margin: 10px; */
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

form select,
form input {
  width: 180px;
  margin-bottom: 10px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/*(-------  Media Query -------*/
@media all and (min-width: 480px) {
  header,
  header nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
  .logo {
    width: 100%;
    justify-content: start;
    font-size: 72px;
  }
  .group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex wrap: wrap;
}

/* .gallery {
  display: flex;
  width: 100%;
  height: 100%;
} */

.item {
  flex: 2;
  width: 30%;
  margin: 10px;
}

.item-double {
  display: flex;
  flex: 4;
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8);
  grid-gap: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.one {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}
.two {
  grid-column: 7 / 12;
  grid-row: 1 / 4;
}
form label {
  margin-right: 15px;
}
form input {
  margin: 0 10px 0 0;
}
form button {
  width: auto;
  text-align: right;
  margin: 0 10px 10px 10px;
}